

.navbar {
  background-color: #e3f2fd;
}
.fa.fa-edit {
  color: #204b74;
}
.fa.fa-duotone.fa-couch{
  color:rgb(26, 175, 26);
 
}
#couch{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list-group-item.delete:hover {
  transition: width 2s linear 1s;
  background-color: pink;
}
#update{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#delete{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.list-group-item.update:hover {
  transition: width 2s linear 1s;
  background-color: rgba(6, 192, 238, 0.199);
}

.list-group-item.board:hover {
  transition: width 2s linear 1s;
  background-color: rgb(185, 231, 125);
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

#mobile-nav{
  color:red
}
.carousel {
  width:900px;
  margin: auto;
}
.list-group-item.board{
  border-radius:10px;
}

#board{
  border-radius:10px;
  text-align: center;
}

#movieId{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:cornflowerblue
}
#common{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: crimson;
}
#identifier{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
#copyright{
  font-weight: bold;
}
